.btn { 
  background: #4D5B9E;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  color: #F5F7FB;
  border: none;
}

.btn:active {
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}