.intro__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 37px;
  text-align: center;
  color: #293264;
  margin-bottom: 0.5rem;
}

.intro__description {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  text-align: center;
  color: #293264;
  margin-bottom: 1.7rem;
}

.intro__btn {
  background: #4D5B9E;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: #F5F7FB;
}